{% extends 'shop/base.html' %}
{% load static %}
    {% block title %}{{ title }}{% endblock %}
    {% block content %}
        <div class="main">
            <div class="main-container-about">
                <div class="main-container__header">
                    <div class="header-img">
                        <img src="{% static 'shop/images/logo.svg' %}" alt="logo">
                    </div>
                    <div class="header-info">
                        <div class="data-counter">
                            <h1>{{ total }}</h1>
                            <p>Components, ready <br> for you to buy</p>
                        </div>
                        <div class="data-percent">
                            <h1>100%</h1>
                            <p>New components <br> in our shop</p>
                        </div>
                        <div class="data-users">
                            <h1>{{ users }}</h1>
                            <p>Users sing up and <br>connect to community</p>
                        </div>
                    </div>
                </div>
                <div class="main-container__main">
                    <div class="main-info">
                        <div class="info-card">
                            <div class="card-img"><i class="fa-regular fa-image"></i></div>
                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet asperiores atque deleniti, dignissimos doloribus ea eum, explicabo fugiat molestias neque odit, quidem quod repudiandae sed tempore unde veniam voluptas?</div>
                        </div>
                        <div class="info-card">
                            <div class="card-img"><i class="fa-regular fa-image"></i></div>
                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet autem consequuntur dicta eligendi enim, esse illum maxime molestias nemo neque non omnis placeat qui tempora? Dolores doloribus quae sint.</div>
                        </div>
                        <div class="info-card">
                            <div class="card-img"><i class="fa-regular fa-image"></i></div>
                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi autem beatae cumque, dignissimos id molestias quae, quaerat quibusdam quis quisquam quo quos totam! Necessitatibus rem, repudiandae! Ab quam, quas.</div>
                        </div>
                        <div class="info-card">
                            <div class="card-img"><i class="fa-regular fa-image"></i></div>
                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, aperiam autem beatae consequatur cum, cumque cupiditate deleniti dicta eius enim eos ex explicabo harum magni numquam quis vel voluptatibus? Tenetur.</div>
                        </div>
                        <div class="info-card">
                            <div class="card-img"><i class="fa-regular fa-image"></i></div>
                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda commodi enim hic libero perferendis veniam voluptatum. Dicta facilis iusto provident quas. Dignissimos eligendi illum labore magnam nihil nobis quia voluptate.</div>
                        </div>
                        <div class="info-card">
                            <div class="card-img"><i class="fa-regular fa-image"></i></div>
                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi eaque exercitationem magnam voluptas. Accusamus accusantium alias architecto aspernatur consequatur doloribus excepturi expedita ipsum labore laboriosam laborum molestiae, natus quidem?</div>
                        </div>
                        <div class="info-card">
                            <div class="card-img"><i class="fa-regular fa-image"></i></div>
                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid beatae consequatur, deleniti dolor doloribus illo inventore laboriosam obcaecati perspiciatis provident, reiciendis repellendus ullam. Aut ea iure modi porro quidem?</div>
                        </div>
                        <div class="info-card">
                            <div class="card-img"><i class="fa-regular fa-image"></i></div>
                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto autem cupiditate facilis obcaecati odio officia provident quasi quis veritatis. Asperiores consequuntur, debitis dignissimos ducimus eaque fugiat quae rem unde ut.</div>
                        </div>
                        <div class="info-card">
                            <div class="card-img"><i class="fa-regular fa-image"></i></div>
                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus cupiditate eius itaque iusto minima, natus non provident quo ratione. Delectus earum iure iusto non perferendis perspiciatis quas quibusdam ratione suscipit.</div>
                        </div>
                        <div class="info-card">
                            <div class="card-img"><i class="fa-regular fa-image"></i></div>
                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos esse facere harum odio provident! Amet aspernatur eius excepturi hic magni modi mollitia, necessitatibus nemo praesentium quae repellendus ullam, veniam, vero.</div>
                        </div>
                        <div class="info-card">
                            <div class="card-img"><i class="fa-regular fa-image"></i></div>
                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis debitis dicta doloribus fugiat natus odit, porro quam suscipit unde voluptates? Atque enim ex ipsam laudantium, modi obcaecati officiis quam voluptatibus.</div>
                        </div>
                        <div class="info-card">
                            <div class="card-img"><i class="fa-regular fa-image"></i></div>
                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur exercitationem nisi officiis quidem recusandae, sunt. Ad aperiam aspernatur at ea facilis iure iusto molestias reiciendis reprehenderit sequi, sint sit veniam!</div>
                        </div>
                        <div class="info-card">
                            <div class="card-img"><i class="fa-regular fa-image"></i></div>
                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium beatae mollitia neque odio soluta! Aliquid asperiores consequatur distinctio esse id impedit laudantium, nesciunt nobis quia reiciendis reprehenderit sint tenetur vel?</div>
                        </div>
                        <div class="info-card">
                            <div class="card-img"><i class="fa-regular fa-image"></i></div>
                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium autem commodi consequuntur, dolor enim, facilis mollitia nisi quaerat quia quos saepe suscipit, ut? At deleniti odio quas tempora tempore, voluptas?</div>
                        </div>
                        <div class="info-card">
                            <div class="card-img"><i class="fa-regular fa-image"></i></div>
                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A assumenda, cum cumque debitis eligendi eos error eum facere in nisi nobis obcaecati quisquam, quos rem repellat saepe sed? Qui, soluta!</div>
                        </div>
                        <div class="info-card">
                            <div class="card-img"><i class="fa-regular fa-image"></i></div>
                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At corporis debitis eveniet ex facilis libero optio porro. Aspernatur consequatur est, ipsa omnis quidem quod vitae voluptas voluptatum. Et, officiis, temporibus!</div>
                        </div>
                        <div class="info-card">
                            <div class="card-img"><i class="fa-regular fa-image"></i></div>
                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolorem ducimus error illum ipsam iste nihil officia quidem quisquam reiciendis, reprehenderit suscipit velit vero voluptate voluptates. Autem cupiditate debitis deleniti.</div>
                        </div>
                        <div class="info-card">
                            <div class="card-img"><i class="fa-regular fa-image"></i></div>
                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus cum, dignissimos dolor doloremque, earum est facere in iste itaque nesciunt nobis nostrum obcaecati porro praesentium quo repudiandae, velit? Excepturi, similique.</div>
                        </div>
                        <div class="info-card">
                            <div class="card-img"><i class="fa-regular fa-image"></i></div>
                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis enim incidunt iusto nesciunt repellendus, tempore vero. Aliquam architecto asperiores consequuntur, facere harum maiores obcaecati officiis provident sit voluptates. Ex, modi?</div>
                        </div>
                        <div class="info-card">
                            <div class="card-img"><i class="fa-regular fa-image"></i></div>
                            <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci debitis delectus earum explicabo hic laboriosam magnam minima nihil omnis quae quaerat quia, repudiandae sequi suscipit ut? Facilis odit porro quaerat!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="location dt">
                <h2>Location</h2>
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></p>
            </div>
            <div class="contact_info dt">
                <h2>Contact information</h2>
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt dolor dolores, earum eos eveniet magni nisi nulla quibusdam, quisquam sit sunt!</span></p>
            </div>
            <div class="media dt">
                <h2>Social Media</h2>
                <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi deserunt dolor dolores, earum eos eveniet magni nisi nulla quibusdam, quisquam sit sunt!</span></p>
            </div>
        </div>
    {% endblock %}