{% extends 'shop/base.html' %}
    {% block title %}{{ title }}{% endblock %}
    {% block content %}
        <div class="main">
            <div class="main-container">
                <div class="form-block">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-error">{{ form.non_field_errors }}</div>
                        {% for item in form %}
                            {{ item }}
                            <div class="form-error">{{ item.errors }}</div>
                        {% endfor %}
                        <button type="submit" class="form-button">Send</button>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}